---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro'
import Header from '../components/Header.astro'
import PromoBanner from '../components/PromoBanner.astro'
import Hero from '../components/Hero.astro'
import Services from '../components/Services.astro'
import Coverage from '../components/Coverage.astro'
import Contact from '../components/Contact.astro'
import MonthlyPromo from '../components/MonthlyPromo.astro'
import FormContact from '../components/FormContact.astro'
import Footer from '../components/Footer.astro'
---

<BaseLayout>
  <Header />
  <PromoBanner />
  <main>
    <Hero bgImage="/ambulancias.jpg" preloadBg={true} />
    <MonthlyPromo image="/promos/prom_nov.jpg" alt="Promoción planes UCM Noviembre" />
    <MonthlyPromo image="/promos/prom.jpg" alt="Promoción planes UCM Octubre" />
    <Services />
    <PromoBanner />
    <Coverage />
    <FormContact />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
